<p>
<%- typeof mensaje === 'undefined' ? '' : mensaje%>
</p>
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Tours</h2>
        <hr class="star-primary">
      </div>
    </div>
    <% for (var i = 0; i < tours.length; i++) { %>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal<%= i %>" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="/images/portfolio/cabin.png" class="img-responsive" alt="">
          <h2><%= tours[i].nombre %></h2>
          <h3><%= tours[i].fecha %></h3>
          <h4>Q. <%= tours[i].precio %></h4>
        </a>
      </div>
    <% } %>
  </div>
</section>

<!-- Portfolio Modals -->
<% for (var i = 0; i < tours.length; i++) { %>
<div class="portfolio-modal modal fade" id="portfolioModal<%= i %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2><%= tours[i].nombre %></h2>
            <h3></h3>
            <h4></h4>
            <hr class="star-primary">
            <img src="/images/portfolio/cabin.png" class="img-responsive img-centered" alt="">
            <p><%= tours[i].descripcion %></p>
            <ul class="list-inline item-details">
              <li>Precio:
                <strong>Q. <%= tours[i].precio %>
                </strong>
              </li>
              <li>Fecha:
                <strong><%= tours[i].fecha %>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
